<!-- <div class="d-flex col-12 " id="wrapper"> -->

      <!-- Sidebar -->
      <!-- <div class=" border-right bg-primary fixed-top col-2" id="sidebar-wrapper" [ngClass]="">
        <h1 class="sidebar-heading font-weight-bold"style=" color: white;">BOCOBI </h1>
        <div class="list-group list-group-flush"style="width: 200px;">
          <a   routerLink="/medecin"class="list-group-item list-group-item-action  bg-primary"style=" color: white;">
            <img src="..\assets\img\doc2.png" style="width: 28px;"alt="">
            <label style="margin-left:12px;margin-top: 2px;">Medecin</label>
          </a>
          <a routerLink="/medicament" class="list-group-item list-group-item-action  bg-primary"style=" color: white;">
                  <img src="..\assets\img\pil1.png" style="width: 28px;"alt="">
                  <label style="margin-left:12px;margin-top: 2px;">Medicament</label></a>
          <a routerLink="/patient" class="list-group-item list-group-item-action  bg-primary"style=" color: white;">
                  <img src="..\assets\img\pat1.png" style="width: 28px;"alt="">
                  <label style="margin-left:12px;margin-top: 2px;">Patient</label>
         </a>
          <a routerLink="/examen"class="list-group-item list-group-item-action  bg-primary"style=" color: white;">
                  <img src="..\assets\img\exam.png" style="width: 28px;"alt="">
                  <label style="margin-left:12px;margin-top: 2px;">Examen</label>
        </a>
          <a routerLink="/consultation" class="list-group-item list-group-item-action  bg-primary"style=" color: white;">
                  <img src="..\assets\img\consul.png" style="width: 28px;"alt="">
                  <label style="margin-left:12px;margin-top: 2px;">Consultation</label>
          </a>
          <a routerLink="/ordonnance" class="list-group-item list-group-item-action  bg-primary"style=" color: white;">
                  <img src="..\assets\img\pres.png" style="width: 28px;"alt="">
                  <label style="margin-left:12px;margin-top: 2px;">Ordonnance</label>
         </a> -->
         <!-- <a routerLink="/caissier" class="list-group-item list-group-item-action  bg-primary"style=" color: white;">
          <img src="..\assets\img\pres.png" style="width: 28px;"alt="">
          <label style="margin-left:12px;margin-top: 2px;">Caissier</label>
        </a>
        <a routerLink="/pharmacien" class="list-group-item list-group-item-action  bg-primary"style=" color: white;">
          <img src="..\assets\img\pres.png" style="width: 28px;"alt="">
          <label style="margin-left:12px;margin-top: 2px;">Pharmacien</label>
        </a>
        <a routerLink="/compte" class="list-group-item list-group-item-action  bg-primary"style=" color: white;">
          <img src="..\assets\img\pres.png" style="width: 28px;"alt="">
          <label style="margin-left:12px;margin-top: 2px;">Creer Compte</label>
        </a>
        </div>
      </div> -->
      <!-- /#sidebar-wrapper -->
    
      <!-- Page Content -->
      <!-- <div id="page-content-wrapper " class="col-10 container">
                  <!-- bg-light -->
        <!-- <nav class="navbar navbar-expand-lg navbar-light shadow-lg fixed-top col-10 "style=" z-index:120px;">
         
          <div class="container-fluid" >
              <a routerLink="/gestion"><button type="button" class="btn btn-outline-primary ms-1 ">Accueil</button></a>
                 --> 
            <!-- <button class="btn btn-primary" (click)="clickEvent()">Toggle Menu</button> -->
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " style=" margin-left: 75%;"id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0"> -->
                <!-- <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li> -->

                <!-- <li class="nav-item dropdown no-arrow ">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Talom Dilane</span>
                            <img class="img-profile rounded-circle"
                                src="..\assets\img\dil.PNG" style="height:30px;">
                        </a>
                        <!-- Dropdown - User Information -->
                        <!-- <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a> -->
                            <!-- <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li> --> 
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown

                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li> -->
                <!-- <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
              <!-- </ul> -->

              
              <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="button">Search</button>
              </form> -->
            <!-- </div>
          </div>
        </nav>
    
        <div class="container-fluid col-10">
         
            <router-outlet></router-outlet>
        </div>
      </div> -->
      <!-- /#page-content-wrapper -->
    
    <!-- </div> -->
    <!-- /#wrapper -->
 
 <div class="container-fluid g-0">
    <app-navbar ></app-navbar>
    <main>
      <app-sidebar [sidebarStatus]="sidebarStatus"></app-sidebar>
      <div class="display-area p-3">
          <router-outlet></router-outlet>
      </div>
    </main>
 </div>
 
    
  