app-header{
  position:fixed;
  width: 100%;
  top:0px;
  height: 4rem;
  z-index: 2;
  background-color: blue;
}
.container-fluid{
  overflow-x: hidden;
  
}
main{
  position: absolute;
  width: 100%;
  top: 3.5rem;
  /* z-index: 1; */
  background-image: url("src\assets\img\departments-1.jpg");

 
}
app-sidebar{
  position: absolute;
  position:left;
  left:0rem;
  top:0px;
  width: 250px;
  height: calc(100vh - 4rem);
  box-shadow: 0px 0px 10px rgba(0, 0, 0,5);
  background-color: blue; 
  /* background-color: rgba(34, 34, 34,1);  */
  border-top:  1px solid white;
  overflow-x: hidden;
  white-space: nowrap
}
.display-area{
  position: absolute;
  left:250px;
  width: calc(100% - 250px);
 
 
}