<nav class="navbar navbar-expand navbar-dark bg-dark px-2"style=" width:100%;">
         <div class="side-nav-button p-2 me-3 text-light">
             <i class="fa-solid fa-bars ml-5"style="color:white;"></i>
         </div>
         <a  routerLink="/gestion"class="navbar-brand"(click)="SidebarToggled()">BOCOBI</a>
         <div class="profile-logo dropstart">
             <!-- <ul class="navbar-nav me-auto">
                   <li class="nav-item dropdown">
                       <a href="#" class="btn btn-outline-light dropdown-toggle" role="button" data-bs-toggle="dropdown">
                           deu
                       </a>
                       <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item"href="#">chil</a></li>
                            <li><a class="dropdown-item"href="#">chil</a></li>
                            <li><a class="dropdown-item"href="#">chil</a></li>
                       </ul>
                   </li>
             </ul> -->
         </div>
</nav>