<div class="container justify-content-center">
       <form class="col-6 " (ngSubmit)="saveCompte(f)" #f="ngForm">
            <div class="form-group">
                                   
                    <input type="text" class="form-control" id="login" placeholder="login"name="login"[(ngModel)]=" compte.login" required>
             </div>  
                 
            <div class="form-group ">
                    <input type="password" class="form-control" id="password" placeholder="nom"name="libelleExamen"[(ngModel)]=" compte.password" required>
            </div> 
            <div class="form-group">
                    <select name="" id="nameRole" class="form-control" name="nameRole" [(ngModel)]=" compte.nameRole"required>
                           <option value="Medecin">
                                   Medecin
                                  
                           </option>
                           <option value="Caissier">
                                   Caissier
                           
                         </option>
                         <option value="Laborantin">
                                Laborantin
                           
                         </option>
                         <option value="Pharmacien">
                                Pharmacien
                           
                         </option>
                    </select>
                </div> 
                <div class="form-group "> 
                        <button type="submit"class="btn btn-primary col-12"[disabled]="f.invalid">Enregistrer</button>
                </div>
       </form>
</div>

