<div class="side-nav-content ">
    <ul class="nav-list border-white p-2" [ngClass]="{'nav-list-open': sidebarStatus }">
         <li class="nav-list-item ">
             <i></i>
             <a href=""routerLink="/medecin"> <span class="pl-3">
                <img src="..\assets\img\doc2.png" style="width: 28px;"alt="">
                 <a href="#"style="color:white;margin-left: 10px;"> Medecins</a>
             </span></a>
         </li>
         <li class="nav-list-item border-white">
                <i></i>
               <a href=""routerLink="/medicament"> <span class="pl-3">
                        <img src="..\assets\img\pil1.png" style="width: 28px;"alt="">
                    <a style="color:white;margin-left: 10px;"> Medicaments</a>
                </span></a>
          </li>
          <li class="nav-list-item border-white">
                <i></i>
               <a href=""routerLink="/patient"> <span class="pl-3">
                        <img src="..\assets\img\pat1.png" style="width: 28px;"alt="">
                    <a style="color:white;margin-left: 10px;"> Patients</a>
                </span></a>
          </li>
          <li class="nav-list-item border-white">
                <i></i>
               <a href=""routerLink="/examen"> <span class="pl-3">
                        <img src="..\assets\img\exam.png" style="width: 28px;"alt="">
                    <a style="color:white;margin-left: 10px;"> Examen</a>
                </span></a>
          </li>
          <li class="nav-list-item border-white">
                <i></i>
               <a href=""routerLink="/consultation"> <span class="pl-3">
                        <img src="..\assets\img\consul.png" style="width: 28px;"alt="">
                    <a style="color:white;margin-left: 10px;"> Consultation</a>
                </span></a>
          </li>
          <li class="nav-list-item border-white">
                <i></i>
               <a href=""routerLink="/ordonnance"> <span class="pl-3">
                        <img src="..\assets\img\pres.png" style="width: 28px;"alt="">
                    <a style="color:white;margin-left: 10px;"> Ordonnance</a>
                </span></a>
          </li>
          <li class="nav-list-item border-white">
                <i></i>
               <a href=""routerLink="/pharmacien"> <span class="pl-3">
                        <img src="..\assets\img\pharma.png" style="width: 28px;"alt="">
                    <a style="color:white;margin-left: 10px;"> Pharmaciens</a>
                </span></a>
          </li>
          <li class="nav-list-item border-white">
                <i></i>
               <a href=""routerLink="/caissier"> <span class="pl-3">
                        <img src="..\assets\img\cais.png" style="width: 28px;"alt="">
                    <a style="color:white;margin-left: 10px;"> Caissiers</a>
                </span></a>
          </li>
          <li class="nav-list-item border-white">
                <i></i>
               <a href=""routerLink="/compte"> <span class="pl-3">
                        <img src="..\assets\img\conte.png" style="width: 28px;"alt="">
                    <a style="color:white; margin-left: 10px;"> Comptes</a>
                </span></a>
          </li>
    </ul>
</div>